SERVICE_NAME=worker
WORKER_CONCURRENCY=2
INGESTION_QUEUE_ATTEMPTS=3
INGESTION_QUEUE_BACKOFF_MS=5000
INGESTION_REQUEUE_STALE_AFTER_MS=300000
INGESTION_REQUEUE_BATCH_SIZE=100
INGESTION_PARSER_CONCURRENCY=2
INGESTION_EMBEDDING_CONCURRENCY=1
INGESTION_INDEX_CONCURRENCY=1
INGESTION_CHUNK_SIZE=1000
INGESTION_CHUNK_OVERLAP=150
